<!DOCTYPE html>
<html>
    <head>
        <title>Hangman Game</title>
    </head>
    <body>
        <header>
           
        </header>
        <main>
            <h1>Hangman Game</h1>
            <div>
                <div><h1>Stage:</h1>
                    {% if hangman.stage == 1 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/0.jpg"></p>
                    {% elif hangman.stage == 2 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/1.jpg"></p>
                    {% elif hangman.stage == 3 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/2.jpg"></p>
                    {% elif hangman.stage == 4 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/3.jpg"></p>
                    {% elif hangman.stage == 5 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/4.jpg"></p>
                    {% elif hangman.stage == 6 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/5.jpg"></p>
                    {% elif hangman.stage == 7 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/6.jpg"></p>
                    {% elif hangman.stage == 8 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/7.jpg"></p>
                    {% elif hangman.stage == 9 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/8.jpg"></p>
                    {% elif hangman.stage == 10 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/9.jpg"></p>
                    {% elif hangman.stage == 11 %}
                        <p><img src="https://www.oligalma.com/downloads/images/hangman/hangman/10.jpg"></p>
                        <p>You lose!</p>
                    {% else %}
                        <p>Stage not found.</p>
                    {% endif %}
                </div>
                <p>Current Word: {{ hangman.word }}</p>
                <p><table>
                    <tr>
                        <td>{{ hangman.letter1 }}</td>
                        <td>{{ hangman.letter2 }}</td>
                        <td>{{ hangman.letter3 }}</td>
                        <td>{{ hangman.letter4 }}</td>
                        <td>{{ hangman.letter5 }}</td>
                    </tr>
                </table></p>
            </div>
            <div>
                <form method="POST" action="{% url 'make_guess' hangman.pk %}">
                    {% csrf_token %}
                    <label for="guess">Guess a letter:</label>
                    <input type="text" id="guess1" name="guess1" maxlength="1"></input>
                    <button>Submit</button>
                </form>
            </div>
            <div>
                <h2>Guessed Letters / {{ hangman.num_guesses }} Total Guesses</h2>
                <p>{% if not hangman.guess1 %}
                        No Guesses
                    {% endif %}
                    {% if hangman.guess1 %}
                        {{ hangman.guess1 }}
                    {% endif %}
                    {% if hangman.guess2 %}
                        | {{ hangman.guess2 }}
                    {% endif %}
                    {% if hangman.guess3 %}
                        | {{ hangman.guess3 }}
                    {% endif %}
                    {% if hangman.guess4 %}
                        | {{ hangman.guess4 }}
                    {% endif %}
                    {% if hangman.guess5 %}
                        | {{ hangman.guess5 }}
                    {% endif %}
                    {% if hangman.guess6 %}
                        | {{ hangman.guess6 }}
                    {% endif %}
                    {% if hangman.guess7 %}
                        | {{ hangman.guess7 }}
                    {% endif %}
                    {% if hangman.guess8 %}
                        | {{ hangman.guess8 }}
                    {% endif %}
                    {% if hangman.guess9 %}
                        | {{ hangman.guess9 }}
                    {% endif %}
                    {% if hangman.guess10 %}
                        | {{ hangman.guess10 }}
                    {% endif %}
                    {% if hangman.guess11 %}
                        | {{ hangman.guess11 }}
                    {% endif %}
                    {% if hangman.guess12 %}
                        | {{ hangman.guess12 }}
                    {% endif %}
                    {% if hangman.guess13 %}
                        | {{ hangman.guess13 }}
                    {% endif %}
                    {% if hangman.guess14 %}
                        | {{ hangman.guess14 }}
                    {% endif %}
                    {% if hangman.guess15 %}
                        | {{ hangman.guess15 }}
                    {% endif %}
                    {% if hangman.guess16 %}
                        | {{ hangman.guess16 }}
                    {% endif %}
                </p>
            </div>
        </main>
    </body>
</html>