<!DOCTYPE html>
<html>
    <head>
        <title>Hangman Game</title>
    </head>
    <body>
        <header>
           
        </header>
        <main>
            <h1>Hangman Game</h1>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Start</button>
                </form>
            </div>
        </main>
    </body>
</html>