<!DOCTYPE html>
<html>
    <head>
        <title>You lose...</title>
    </head>
    <body>
        <header>
           
        </header>
        <main>
            <h1>You lost... too bad!</h1>
            <div>
                <p><a href="{% url 'play_game' %}">Return to Start Menu</a></p>
            </div>
        </main>
    </body>
</html>